body{
    background-color: #400106;
    margin: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
}

hr{
    border: 1px solid #F2B6B6;
    width: 20%;
}
.header{
    display: inline-flex;
    justify-content: center;
    width: fit-content;
    font-size: xx-large;
    color: #F2B6B6;
    padding: 2%;
}

.tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    border: 3px solid #F2B6B6;
    border-radius: 30px;
    width: 70%;
    background-color: #731616;
}

button{
    background-color: #CCD9D9;
    margin-top: 5px;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.textinho{
    text-align: center;
    width: 50%;
    margin: 20px 0 0 0;
    padding: 2%;
    color: #F2B6B6;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #CCD9D9;
    background-color: rgba(0,0,0,0.4);
}

.conteudoModal{
    background-color: #CCD9D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #400106;
    width: 30%;
    height: 20%;
    
    font-size: larger;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}